<script src="http://js.pusher.com/3.0/pusher.min.js"></script>
<script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
        if (window.console && window.console.log) {
            window.console.log(message);
        }
    };
    var currentPlayerNo=0;
    var currentUser='';
    var userJoinedAt='';
    var arePlayersReady=false;
    var pusher;

    var directionGlobal,gameChannel;

    var bgImage,p1Image,p2Image,bulletImg,villainImg;
    var currentUser;
    var blastImgs=new Array();

    function managePusher()
    {
        gameChannel = pusher.subscribe('game_events');
        presenceChannel = pusher.subscribe('presence-player'); //join the presence-nettuts channel

        presenceChannel.bind('pusher:subscription_succeeded', function(members) {

            var memCount=0;
            members.each(function(member) {
                currentPlayerNo=member.info.usernumber;
                setupPlayer('',currentPlayerNo);
                memCount++;
            });
            if(memCount==2) // when second player joins
            {
                subscribeToOthers();
                initGameSprites();
                mymain();
            }
            else if(memCount==1)
            {
                // do nothing, just wait for other player to join
            }
        });

        // this will be triggered to the first player who has subscribed to pusher
        presenceChannel.bind('pusher:member_added', function(member) {
            if(member.info.usernumber==2) {
                setupPlayer('',1);
                subscribeToOthers();
                initGameSprites();
                mymain();
            }
        });

        presenceChannel.bind('pusher:member_removed', function(member) {
            //alert('member removed');
        });

    }
    $( document ).ready(function() {

        pusher = new Pusher('84f09cdc1b38da624919', {
            authEndpoint: '/gamestate/auth',
            auth: {
                headers: {
                    'X-CSRF-Token': '<%= form_authenticity_token %>'
                }
            }
        });

        managePusher();

    });
    function subscribeToOthers()
    {
        // actually used when opponent presses a key
        presenceChannel.bind('client-left-key', function (data) {
            updatePlayer("left",other);
        });
        presenceChannel.bind('client-right-key', function (data) {
            updatePlayer("right",other);
        });
        presenceChannel.bind('client-up-key', function (data) {

            updatePlayer("up",other);
        });
        presenceChannel.bind('client-down-key', function (data) {

            updatePlayer("down",other);
        });
        gameChannel.bind('enter-key', function (data) {
            //updatePlayer("enter");
            directionGlobal="enter";
        });
    }
    function initGameSprites()
    {
        // Background image
        bgImage = document.createElement('img');
        bgImage.src = "<%= asset_path('roading.png') %>";

        p1Image = document.createElement('img');
        p1Image.src = "<%= asset_path('spiderman.png') %>";

        p2Image = document.createElement('img');
        p2Image.src = "<%= asset_path('batman.gif') %>";

        bulletImg=document.createElement('img');
        bulletImg.src="<%= image_path("bulletsmall.gif") %>";

        villainImg=document.createElement('img');
        villainImg.src="<%= image_path("supervillain.PNG") %>";

        <% @explosionArr.each do |explosion| %>
            blastImgs.push("<%= explosion %>");
        <% end %>

    }
</script>

<%= javascript_include_tag "gamecanvas", "data-turbolinks-track" => true %>
<div id="divcanvas">

</div>
<audio id="explosionAudio" src=<%= audio_path("snd_explosion2.wav") %> type="audio/mpeg"></audio>