<script src="http://js.pusher.com/3.0/pusher.min.js"></script>
<script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
        if (window.console && window.console.log) {
            window.console.log(message);
        }
    };

    var pusher = new Pusher('84f09cdc1b38da624919', {
        encrypted: true
    });

    var keychannel = pusher.subscribe('key_pressed');
    keychannel.bind('left-key', function (data) {
        updateFrame("left");
    });
    keychannel.bind('right-key', function (data) {
        updateFrame("right");
    });
    keychannel.bind('up-key', function (data) {
        updateFrame("up");
    });
    keychannel.bind('down-key', function (data) {
        updateFrame("down");
    });
    keychannel.bind('enter-key', function (data) {
        updateFrame("enter");
    });

    var bgImage,p1Image,p2Image,bulletImg;
    var blastImgs=new Array();
    $( document ).ready(function() {
        initGameSprites();
        mymain();
    });
    function initGameSprites()
    {
        // Background image
        bgImage = document.createElement('img');
        bgImage.src = "<%= asset_path('roading.png') %>";

        p1Image = document.createElement('img');
        p1Image.src = "<%= asset_path('spiderman.png') %>";

        p2Image = document.createElement('img');
        p2Image.src = "<%= asset_path('batman.gif') %>";

        bulletImg=document.createElement('img');
        bulletImg.src="<%= image_path("bulletsmall.gif") %>";

        <% @explosionArr.each do |explosion| %>
            blastImgs.push("<%= explosion %>");
        <% end %>
    }
</script>

<%= javascript_include_tag "gamecanvas", "data-turbolinks-track" => true %>
<div id="divcanvas">

</div>
<audio id="explosionAudio" src=<%= audio_path("snd_explosion2.wav") %> type="audio/mpeg"></audio>