<script>
	function setId(myid)
	{
		elem=document.getElementById('selected_char_id');
		elem.value=myid;
		//alert(elem.value);
	}
</script>
<h1>List of characters</h1>
<%= form_tag(controller: "gamestate", action: "select_my_char", method: "post") do %>
	<% @chars.each do |char| %>
		<a href="#" onclick=setId(<%= char.id %>)>
		<img src=<%= image_path(char.character_image) %>  />
		</a>
	<% end %>
	<%= hidden_field_tag(:selected_char_id, "-1") %>
	<br/>
	<%= submit_tag("Save Data") %>
<% end %>
